
.main-header{
    width: 100%;
    background-color: #f9e2c8;
    display: flex;
    gap: 10px;
    flex-direction: row;
    padding: 15px 30px;
    align-items:center;
    border-bottom: 4px solid #e4b48c;
    
}

.logo{
    width: 80px;
    height: auto;
    margin-left: 30px;
}

.main-header h1{
    font-size: 24;
    margin: 0;
}
body{
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.navbar{
    width:100%;
    display: flex;
    background-color: #fff3e0;
    border-bottom: 4px solid #e4b48c;
    padding: 10px;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.navbar a{
    color: brown;
    text-decoration: none;
    background-color: #f28c8c;
    font-weight: bold;
    margin-left: 10px;
    margin-right: 10px;
    padding: 12px 15px;
    border-radius: 12px
    
}

.home-main{
    display: flex;
    flex-direction: column;
    align-items: center;   
    max-width: 1100px;
    margin: 0 auto;

}

.home-main section{
    background-color: #fff8ee;
    border-radius: 25px;
    text-align: center;
    padding: 25px;
    margin: 40px ;
    box-shadow:0 6px 18px rgba(0, 0, 0, 0.1);
}

.login-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1100px;
    padding: 20px;
}

.login-main form{
    text-align: center;
    margin-bottom: 70px;
}

.input-style{
    background-color: #fff8ee;
    border-color: #e4b48c;
    border-width: 1px;
}

.button-style{
    background-color: #f28c8c;
    border-radius: 12px;
    padding: 8px 14px; 
    border: 0px;
    color: white;
    font-weight: bold; 
    text-decoration: none;
}

.button-style:hover{
    cursor: pointer;
}

.menu-main{
    display: flex;
    flex-direction: column;
    align-items: center;   
    margin: 0 auto;

}

.menu-section{
    background-color: #fff8ee;
    border-radius: 25px;
    padding: 25px;
    margin: 20px 0;
    box-shadow:0 6px 18px rgba(0, 0, 0, 0.1);
    width: 1100px; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ice-cream-grid{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
   
}

.ice-cream-tiles{
    background-color: #ffffff;
    border: 20px;
    padding: 15px;
    margin: 15px;
    box-shadow:0 6px 18px rgba(0, 0, 0, 0.1);
    text-align: center;
    border-radius: 25px;
    max-width: 300px;

}

.ice-cream-tiles img{
    border-radius: 15px;
    height: auto;
    width: 60%;
}

.select-style{
    background-color: #fff8ee;
    border-radius: 10px;
    padding: 6px 10px;
    border: 1px solid #e4b48c;
    text-align: center;
}

.season-special-tiles{
    background-color: #ffffff;
    border: 20px;
    padding: 15px;
    margin: 15px;
    box-shadow:0 6px 18px rgba(0, 0, 0, 0.1);
    text-align: center;
    border-radius: 25px;
    max-width: 175px;
}

.season-special-tiles img{
    border-radius: 15px;
    height: auto;
    width: 80%;
}

.main-footer{
    width: 100%;
    background-color: #f9e2c8;
    text-align: center;
    padding: 15px;
    border-top: 4px solid #e4b48c;
    margin-top: 50px;
}

.add-button{
    background-color: #f28c8c;
    color: white;
    font-weight: bold;
    border-radius: 12px;
    padding: 8px 14px;
    border: 0px;
}

.remove-button{
    background-color: #c94c4c;
    color: white;
    font-weight: bold;
    border-radius: 12px;
    padding: 8px 14px;
    border: 0px
}

.add-button:hover{
    cursor: pointer;
}

.remove-button:hover{
    cursor: pointer;
}
