.main-header{
    width: 100%;
    background-color: #f9e2c8;
    display: flex;
    gap: 10px;
    flex-direction: row;
    padding: 15px 30px;
    align-items:center;
    border-bottom: 4px solid #e4b48c;
    
}

.logo{
    width: 80px;
    height: auto;
    margin-left: 30px;
}

.main-header h1{
    font-size: 24;
    margin: 0;
}
body{
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center; 
}


.navbar{
    width:100%;
    display: flex;
    background-color: #fff3e0;
    border-bottom: 4px solid #e4b48c;
    padding: 10px;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.navbar a{
    color: brown;
    text-decoration: none;
    background-color: #f28c8c;
    font-weight: bold;
    margin-left: 10px;
    margin-right: 10px;
    padding: 12px 15px;
    border-radius: 12px
    
}

.main-content{
    display: flex;
    flex-direction: column;
    align-items: center;   
    max-width: 1100px;
    margin: 0 auto;

}

.main-content section{
    background-color: #fff8ee;
    border-radius: 25px;
    text-align: center;
    padding: 25px;
    margin: 40px ;
    box-shadow:0 6px 18px rgba(0, 0, 0, 0.1);
}



.main-footer{
    width: 100%;
    background-color: #f9e2c8;
    text-align: center;
    padding: 15px;
    border-top: 4px solid #e4b48c;
    margin-top: 50px;
}



